@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome To Car Rental System</h1>
    </div>
    <div class="background"><img src="../fonts/top_ph002.png" width="100%" /></div>
</body>
</html>
